<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<novaposhta_catalog>
			<schedule>
                <active>1</active>
			</schedule>
			<catalog>
				<active>1</active>
			</catalog>
		</novaposhta_catalog>
	</default>
</config>
